$color-midnight-blue: rgb(32, 32, 39);
$color-white: rgb(255, 255, 255);
$color-lime-green: rgb(189, 237, 53);
$color-light-lime: rgb(225, 255, 143);
$color-neon-lime: rgb(188, 236, 48);
$color-off-white: rgb(247, 247, 247);
$color-translucent-white: rgba(255, 255, 255, 0.2);
$gap-line: 51px;
$gap: 24px;
$title-small: 32px;
$title-middle: 48px;
$title-large: 64px;