$gap: 24px;
$color-text: rgb(32, 32, 39);
$gap-line: 51px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-color: rgb(225, 255, 143);
    height: 800px;
    background-repeat: no-repeat;
    background-image: url(images/Group-stars.png);
    background-position: -170% 110%;
    background-size: auto;

    &__header {
        display: flex;
        flex-direction: column;
        gap: $gap;
        max-width: 768px;
        padding-top: 196px;
    }

    &__tittle {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &__discription {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__button {
        width: 247px;
        height: 66px;
        margin-top: $gap;
        box-sizing: border-box;
        border: 1px solid $color-text;
        border-radius: 60px;
        background: $color-text;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        font-size: $gap;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
    }

    &__button:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    &__running-line {
        height: 90px;
        display: flex;
        gap: $gap-line;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(50px);
        background: rgb(188, 236, 48);
        align-items: center;
        margin-top: 156px;
        padding-left: 49px;
        overflow: hidden;
    }

    &__list {
        color: $color-text;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        text-wrap: nowrap;
    }
}